body {
    margin: 0;
}

.hero {
    background-color: rgba(75, 75, 75);
    height: 75px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: center;
}

.hero img {
    object-fit: contain;
    height: 75px;
    width: auto;
    margin-left: 10px;
}

.company-name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 2rem;
    color: rgb(230, 230, 230);
}

.header {
    color: white;
}

.right-text {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 20px;
    margin-left: 10px;
    font-size: 3rem;
    color: rgb(230, 230, 230);
}

.main-container {
    padding: 45px;
    width: 75vw;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: auto;
    row-gap: 50px;
    justify-items: center;
    align-items: center;

}

.book {
    height: 225px;
    width: 275px;
    background-color: rgb(209, 209, 209);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.right-bar {
    width: 18vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 75px;
    right: 0px;
    justify-content: start;
    align-items: center;
    padding-top: 30px;
    background-color: rgb(245, 245, 245);
}

#new-book-btn {
    height: 45px;
    width: 10vw;
    border-radius: 5px;
}

.edit {
    position: absolute;
    top: 0px;
    width: inherit;
    display: flex;
    justify-content: flex-end;
}

.title {
    font-size: 2rem;
}
.author {
    font-size: 1.5rem;
    margin: 10px 0px;
}

.pages {
    font-size: 1.5rem;
}

.edit-text {
    margin-right: 5px;
}

.read-bar {
    background-color: black;
    height: 20px;
    width: inherit;
    position: absolute;
    bottom: 0px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;

}

.read {
    background-color: green;
}


@media screen and (max-width: 1150px) {
    .main-container {
        grid-template-columns: repeat(2, 35vw);
    }
    .right-bar {
        width: 22vw;
    }
}

@media screen and (max-width: 850px) {
    .main-container {
        grid-template-columns: repeat(1, 50vw);
    }
    .right-bar {
         width: 30vw;
    }
}
